html{
    box-sizing: border-box;
    margin: 0; padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    margin: 0 auto;
    background-color: #272727;
}
a{text-decoration:none}
a:hover{text-decoration:none}
.contianer{
    max-width:1920px;
    margin-right: 0;
    margin-left: 0;
    }
.head-nav{
    display: flex;
    width: 1920px;
    height: 107px;
    margin: 0px 0x 46px 0;
    background-color: #000000;
    padding: 5px 50px 4px 50px;
    box-sizing: border-box;
}
.dwglogo-a{    
    width: 93px;
    height: 98px;
    margin: 5px 0 auto 50px;
    padding: 0;
    }
.dwglogo{    
        width: 93px;
        height: 98px;    
    }
.lckklogo-a{
        width: 114px;
        height: 98px;
        margin: auto 0 auto 20px;
        padding: 0;
    }   
.lckklogo
{
    width: 114px;
    height: 98px;
    margin: auto 0 auto 20px;
}   
.nav-ul{
    display:flex;
    margin: 38px 0px auto auto;
    padding: 0;
    flex-wrap:nowrap;
}
.nav-li{
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    height: 23px;
    font-size: 24px;
    text-align: left;   
}
.nav-li-a{
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    height: 23px;
    font-size: 24px;
    margin: 0 20px auto auto;
    text-align: left;   
}
.nav-li-a:hover{
    color: #0FD2CC;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    height: 23px;
    font-size: 24px;
    margin: 0 20px auto auto;
    text-align: left;   
}
.social-a{
    width: 60px;
    height: 60px;
    margin: 24px 0px 30px 0;
    padding: 0;
}
.social-img
{
    margin: 0 ;
    padding: 0;
    width: 60px;
    height: 60px;
    margin: 24px 5px 30px 0;
}
.index-main-content{
    display: flex;
}
.MAIN-BACKGROUND{
    width: 1327px;
    height: 693px;
    margin: 100px 14px 46px 56px;
    box-sizing: border-box;
    border:3PX #ffffff   solid;
    }
.index-main-content-right{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    width:425px
}
.index-news{
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    height: 30px;
    width: 90px;
    font-size: 24px;
    text-shadow: 0.1em 0.1em 0.15em rgb(0, 0, 0);
}
.line_news{
    width: 425px;
    height: 3px;
    margin: 0 auto 0 0;
    background-color: #ffffff;
    
}
.line2_news{
    width: 425px;
    height: 2px;
    margin: 0 auto 0 0;
    background-color: #514949;
}
.index-news-img1{
    margin: 30px auto 0 18px;
    width: 382px;
    height: 215px;
    border:3PX #ffffff   solid;
}
.index-news-h3{
    width: 353px;
    height: 40px;
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 14px auto;
    text-align: left;
    text-shadow: 0.05em 0.05em 0.2em rgb(176, 246, 255);
    text-align: center;
}
.index-news-img2{
    margin: 30px auto 0 18px;
    width: 382px;
    height: 205px;
    border:3PX #ffffff   solid;
}
.footer{
    display: flex;
    width: 1920px;
    height: 150px;
    margin: 0 ;
    background-color: #000000;
    padding: 6px 89px 5px 11px;
    box-sizing: border-box;
}
.footer-a{
    padding: 0;
    margin: 6px 5px 5px 0;
}
.footer-h4{
    margin: 14px 20px auto 20px;
    font-size: 24px;
    font-weight: 600;
    color: #a09e9e;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    width: 165px;
    height: 46px;
}
.footer-kia{
    width: 195px;
    height: 96px;
    margin-top: 21px
}
.footer-adidas{
    width: 219px;
    height: 138px;
}
.footer-xenics{
    width: 221px;
    height: 90px;
    margin-top: 24px
}
.footer-logitech{
    width: 276px;
    height: 97px;
    margin-top: 21px;
    margin-right:40px;
}
.footer-h6{
    color: #a09e9e;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    line-height: 0.80;
}
.team_h1{
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    margin: 30px auto 15px 55px;
    text-shadow: 0.01em 0.01em 0.05em rgb(255, 255, 255);
}
.line_h1{
    width: 1840px;
    height: 2px;
    margin: 0px auto 30px 40px;
    background-color: #ffffff;
}
.player-top{
    display: flex;
    margin: 0px auto 40px 55px;
}
.player-bot{
    display: flex;
    margin: 0px auto 80px 55px;   
}
.introduce{
    display: flex;
    margin: 0px 20px 0px 0px;
}
.player{
    width: 335px;
    height: 335px;
    margin: 0;
}
.player-content{
    margin: 34px auto auto 20px;
}
.line_h2{
    width: 228px;
    height: 2px;
    background-color: #d6fcff;
}
.player-title{
    display: flex;
}
.lane{
    width: 45px;
    height: 45px;
    background-color: #0000000e;
}
button{
    padding: 0;
}
.table{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    margin-left: 470px;
    color: #ffffff;
    border:3PX #757575   solid;
    background-color:#00000046;
    margin-bottom: 50px;
}
th {
    border: solid 1px #0FD2CC;
    padding: 16px 8px;
    
  }
td{
    text-align: left;
    width: 65PX;
    border: solid 1px #0FD2CC;
    text-align: center;
    padding: 6px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.dataname{
    text-align: left;
    width: 110PX;
    border: solid 1px #0FD2CC;
    text-align: center;
    padding: 6px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.lane-name{
    height: 45px;
    color: #0FD2CC;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 10px auto auto 25px;
    font-weight: 1000;
    text-shadow: 0.01em 0.01em 0.05em rgb(255, 255, 255);
}
.player-name{
    height: 45px;
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 20px auto 0 20px;
    font-weight: 800;
    
}
.coach-name{
    height: 45px;
    color: #0FD2CC;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 10px auto 0 40px;
    font-weight: 1000;
    text-shadow: 0.01em 0.01em 0.05em rgb(255, 255, 255);
    
}
p{
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0px auto 0 20px;
    line-height: 1.2;
}
.titleborder{
    display: flex;
    width:1920px;
    justify-content:center;
    text-align:center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 30px;
}
.title{
    display: flex;
    width:400px;
    justify-content:center;
    text-align:center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
    /* text-shadow: 0.05em 0.05em 0.05em rgb(255, 255, 255); */
    border:3PX #ffffff00   solid;
    margin-bottom: 0;

}
.time-line2{
    width:5px;
    height: 50px;
    margin-right: 5px;
    background-color: #92f7ff;
    margin-bottom: 70px;
    margin-top: 0;
}
.time-line1
{
    display: flex;
    width:1920px;
    justify-content:center;
    text-align:center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;

}
.time-line
{
    width:5px;
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: 1px;
}
.about-content{
    display: flex;
    margin-bottom: 0px;
    margin-top: 0;
    border-bottom: #514949 3px;
}
.about-center{
    margin-bottom: 0px;
    margin-top: 0;
    height: 1320px;
}
.about-left{
    width:680px;
    text-align: right;
    margin-left: 160px;
    margin-right: 40px;
}
.about-right{
    text-align: left;
    width:680px;
    margin-left: 40px;
    margin-right: 160px;
}
.img2019{
    width:680px;
    height: 406px;
    margin-top: 30px;
    background-color: #181818;
    display: block;
    position: relative;
    animation-name: MoveToleft;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 2s;    /*動畫持續時間，單位為秒*/
    animation-delay: 0s;    /*動畫延遲開始時間*/
    animation-iteration-count: 1;    /*動畫次數，infinite 為無限次*/  
    
}
.img2020{
    width:680px;
    height: 384px;
    background-color: #181818;
    display: block;
    position: relative;
    animation-name: MoveToRight;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 2s;    /*動畫持續時間，單位為秒*/
    animation-delay: 0s;    /*動畫延遲開始時間*/
    animation-iteration-count: 1;    /*動畫次數，infinite 為無限次*/  
    
}
.img2021{
    width:680px;
    height: 407px;
    margin-top:auto;
    margin-bottom: 0px;
    background-color: #181818;
    display: block;
    position: relative;
    animation-name: MoveToleft;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 2s;    /*動畫持續時間，單位為秒*/
    animation-delay: 0s;    /*動畫延遲開始時間*/
    animation-iteration-count: 1;    /*動畫次數，infinite 為無限次*/  
    
}@keyframes MoveToleft {
        from { left: 10%;
            opacity: 0; }
        to { left: 0;
            opacity: 100%; }
    }

.img2018{
    width:680px;
    height: 394px;
    margin-top:0px;
    background-color: #000000;
    display: block;
    position: relative;
    animation-name: MoveToRight;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 2s;    /*動畫持續時間，單位為秒*/
    animation-delay: 0s;    /*動畫延遲開始時間*/
    animation-iteration-count: 1;    /*動畫次數，infinite 為無限次*/  
    
}@keyframes MoveToRight {
        from {right: 10%;
            opacity: 0; }
        to { right: 0;
            opacity: 100%; }
    }
.about2018-h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    margin-bottom:0;
    margin-top: 80px;
    text-shadow: -0.05em 0.05em 0.2em rgb(87, 123, 128);
}
.about2019-h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #fdffff;
    font-weight: 800;
    margin-bottom:0;
    margin-top: 30px;
    text-shadow: 0.05em 0.05em 0.2em rgb(87, 123, 128);
}
.about2020-h2{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom:0;
    text-shadow: -0.05em 0.05em 0.2em rgb(87, 123, 128);
    margin-top: 50px;
}
.about2021-h2{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    margin-top:25px;
    margin-bottom:0;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 0.05em 0.05em 0.2em rgb(87, 123, 128);
}
.about2019-p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    color: #ffffff;
    margin: 0px auto 50px 0;
    text-shadow: 0.05em 0.05em 0.2em rgb(176, 246, 255);
}
.about2020-p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    color: #ffffff;
    margin: 0px auto 30px 0;
    text-shadow: 0.05em 0.05em 0.2em rgb(176, 246, 255);
}
.about2021-p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    color: #ffffff;
    margin: 0px auto 0px 0;
    text-shadow: 0.05em 0.05em 0.2em rgb(176, 246, 255);
}
.about2018-p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 24px;
    color: #ffffff;
    margin: 0px auto 0px 0;
    text-shadow: 0.05em 0.05em 0.2em rgb(176, 246, 255);
}
